<!doctype html>
<html ng-app="knowGod">
  <head>
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="controller.js"></script>
    <script src="xml2json.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div ng-controller="KnowGodController as knowGod">
      <!-- Header -->
      <div>
        <div style="height: 60px; text-align: center">
          <span ng-click="hideLanguage = !hideLanguage" ng-init="hideLanguage=1" class="fl p25">
          {{knowGod.language}}
          <i ng-class="hideLanguage ? 'flip' : '' " class="fas fa-chevron-up"></i>
          </span>

          <div class="dib progress pill my25 kg-bg-gray-light">
            <div class="kg-bg-gray pill"  style="width: {{knowGod.page.header.number.text/knowGod.manifest.percent()*100}}%">
            </div>
          </div>

          <span class="fas fa-share-alt fr p25">
          </span>
        </div>

     <!-- languages -->
        <div ng-model="knowGod.language" ng-init="knowGod.language='1'" ng-hide="hideLanguage" class="px100 py25 kg-bg-gray-light">
          <span ng-repeat="lang in knowGod.languages.data" class="w33 dib pill kg-bg-white-hover">
            <a class="w100 dib pill-inside" href="{{lang.id}}">
            {{lang.attributes.name}}</a>
          </span>
        </div>
      </div>

     <!-- content goes in here -->
      <div ng-cloak class="py25 kg-bg-blue kg-white">
        <h1 class="fl">{{knowGod.page.header.number.text}}</h1>
        <h2 class="mx100 kg-white">{{knowGod.page.header.title.text}}</h2>
      </div>
      
      <div class="mx100">
        <div class="frame-square">
        <img ng-src="{{knowGod.manifest.lookup(knowGod.page['_background-image'])}}" class="w100" >
        </div>
        
        <div ng-repeat="card in knowGod.page.cards.card">
          <h2>{{card.label.text}}</h2>
          <img ng-if="card['_background-image'] && card['_background-image-align']=='top'" ng-src="{{knowGod.manifest.lookup(card['_background-image'])}}" class="w100">
          <p class="mx144" ng-repeat="paragraph in card.paragraph">
            <img ng-if="paragraph.image" ng-src="{{knowGod.manifest.lookup(paragraph.image['_resource'])}}" class="w100">
          <span class="db">
            {{paragraph.text}}
          </span>
          </p>
          <p class="mx144" ng-repeat="text in card.paragraph.text">{{text}}</p>
          <img ng-if="card['_background-image'] && card['_background-image-align']=='bottom'" ng-src="{{knowGod.manifest.lookup(card['_background-image'])}}" class="w100">
        </div>

        <div class="">
          <h3>{{knowGod.page['call-to-action'].text}}</h3>
        </div>


      <!-- next/prev -->
        <div >
          <a href="" class="py25 kg-white tc w50 fas fa-2x fa-arrow-left kg-bg-gray pill-left"></a>
          <a href="" class="py25 kg-white tc w50 fas fa-2x fa-arrow-right kg-bg-blue pill-right"></a>
        </div>

      </div>
      <!-- resources -->
      <select class="fr">
        <option value="{{trans.id}}" ng-repeat="trans in knowGod.languages.data[knowGod.language].relationships.translations.data">
          {{trans.id}}
        </option>
      </select>

      <p>{{knowGod.language}}</p>
      <select ng-model="knowGod.language">
        <option value="{{resource.id}}" ng-repeat="resource in knowGod.languages.data">
          {{resource.attributes.name}}
        </option>
      </select>
      <p>{{knowGod.page}}</p>

      <!-- Footer -->
      <div class="px100">
        <div class="line kg-gray-light f11">
          <span class="fl py25"><img ng-src="https://cdn2-www.cru.org/images/cru_logo.png.pagespeed.ce.wqT8QlyTsR.png" style="height: 28px">© 1994-2018 Cru. All Rights Reserved.</span>
          <span class="fr py25">Learn more at <a class="kg-gray-light" href="godtoolsapp.com">godtoolsapp.com</a></span>
        </div>
      </div>

    </div>
  </body>
</html>

