<!doctype html>
<html ng-app="knowGod">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller.js"></script>
    <!--link rel="stylesheet" href="todo.css"-->
  </head>
  <body>
    <div ng-controller="KnowGodController as knowGod">
      <select ng-model="knowGod.language" ng-init="knowGod.language='1'" style="float: right">
        <option value="{{lang.id}}" ng-repeat="lang in knowGod.languages.data">
          {{lang.attributes.name}}
        </option>
      </select>
      <select style="float: right">
        <option value="{{trans.id}}" ng-repeat="trans in knowGod.languages.data[knowGod.language].relationships.translations.data">
          {{trans.id}}
        </option>
      </select>
      <h2>Todo</h2>
      <span>{{knowGod.remaining()}} of {{knowGod.todos.length}} remaining</span>
      [ <a href="" ng-click="knowGod.archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in knowGod.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="knowGod.addTodo()">
        <input type="text" ng-model="knowGod.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>

      <p>{{knowGod.language}}</p>
      <select ng-model="knowGod.language">
        <option value="{{resource.id}}" ng-repeat="resource in knowGod.languages.data">
          {{resource.attributes.name}}
        </option>
      </select>
      <p>{{knowGod.resources}}</p>
    </div>
  </body>
</html>

