:root {
  --kg-blue: #3BA4DB; 
  --kg-gray: #BEBEBE;
  --kg-gray-light: #E6E6E6;
  --kg-gray-dark: #5A5A5A;
  --kg-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
}
h1 {
  font-size: 96px;
  margin: 24px 0 0 24px;
  font-weight: 100;
}
h2 {
  font-color: blue;
  font-size: 36px;
  font-weight: 250;
}
a {
  text-decoration: none;
  color: var(--kg-gray-dark);
}
.pill {
  border-radius: 20px;
}
.pill-right {
  border-radius: 0 50px 50px 0;
}
.pill-left {
  border-radius: 50px 0 0 50px;
}
.pill-inside {
  padding: 4px 20px 4px 20px;
}
.px100 {
  padding-right: 100px;
  padding-left: 100px;
}
.p25 {
  padding: 22px;
}
.py25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mx100 {
  margin-left: 100px;
  margin-right: 100px;
}
.mx144 {
  margin-left: 144px;
  margin-right: 144px;
}
.dib {
  display: inline-block;
}
.w33 {
  width: 33%;
}
.w50 {
  width: 49%;
}
.w100 {
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.progress {
  width: 200px;
}
.progress div {
  height: 8px;
  width: 20%;
}
.fa-chevron-up {
  transition: .2s;
}
.fa-chevron-up.flip{
  transform: scaleY(-1);
  transition: .2s;
}
.tc {
  text-align: center;
}
.line {
  border-top: var(--kg-gray-light) 2px solid;
}
.f11 {
  font-size: 11px;
}

/*Colors */
.kg-blue {
  color: var(--kg-blue);
}
.kg-bg-blue {
  background-color: var(--kg-blue);  
}
.kg-bg-gray {
  background-color: var(--kg-gray);
}
.kg-gray-light {
  color: var(--kg-gray-light);
}
.kg-bg-gray-light {
  background-color: var(--kg-gray-light);
}
.kg-white {
  color: var(--kg-white);
}
.kg-bg-white {
  background-color: var(--kg-white);
}
.kg-bg-white-hover:hover {
  background-color: var(--kg-white);
}
